$blue: #88abf9;
$purple: #ba7bcc;
$violet: #C5A2C9;
$red: #e06c75;
$yellow: #E0C084;
$green: #98c379;
$orange: #E6A26F;
$teal: #7ecec6;
$white: #ffffffc9;
$soft-white: #ffffffad;
$grey: #ffffff8c;
$white-glow: #ffffff4f;
$highlight-white: #ffffff2f;
$lucid-white: #ffffff18;
$transparent-white: #ffffff0e;
$black: #0E131B;
$soft-black: #0F131A;
$transparent-black: #00000050;
$lucid-black: #000000d2;

$lucid-orange: #dd7d41d5;
$lucid-red: #DB4E34d5;
$lucid-green: #75AC48d5;
$lucid-yellow: #F7DA66d5;
