$blue: #88abf9;
$purple: #ba7bcc;
$dark-violet: #a28191;
$pink: #e16ba0;
$bright-yellow: #e8c37d;
$green: #98c379;
$orange: #E6A26F;
$teal: #53c6ba;
$metal: #6c8093;
$bright-white: #ffffffd5;
$white: #ffffffc5;
$soft-white: #ffffffad;
$white-glow: #ffffff2f;
$transparent-white: #ffffff0e;
$transparent: #ffffff00;
$black: #0E131B;
$soft-black: #0F131A;
$transparent-black: #00000050;
$lucid-black: #000000d2;
$lucid-orange: #dd7d41d5;
$lucid-green: #75AC48d5;
$lucid-yellow: #dfbf81d5;
$lucid-blue: #88abf9d5;
$lucid-teal: #53c6bad5;
$statusbar-violet: #ECBDCEd9;
//$light-red: #DE8385;
// $red: #e06c75;
// $golden: #d0ac6c;
// $yellow: #dfbf81;