$blue: #88abf9;
$purple: #ba7bcc;
$dark-violet: #b38098;
$pink: #e16ba0;
$pink2: #ff85c6;
$pink3: #f386bf;
$bright-yellow: #e8c37d;
$green: #98c379;
$orange: #E6A26F;
$teal: #53c6ba;
$metal: #6c8093;
$faded-metal: #6c8093c5;
$dark-metal: #6c8093d5;
$white: #c8d1df;
$soft-white: #a8b6cc;
$black: #0E131B;
$soft-black: #111722;
$unnamed-black: #1e293e;
$bright-black: #24324c;
$bright-black: #2a3b5a;
$bright-black: #354764;
$transparent-black: #0E131Bd2;
$lucid-orange: #dd7d41d5;
$lucid-green: #75AC48d5;
$lucid-yellow: #dfbf81d5;
$lucid-blue: #88abf9d5;
$lucid-teal: #53c6bad5;
$statusbar-violet: #ECBDCEd9;


// TODO: 6c809370
